.home{
    width: 100%;
    #heading{
        font-family: 'Source Code Pro', monospace;
        font-size: 3rem;
        
    }
    .t{
        margin-top: 50px;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        text-align: center;
    }
}