.card-hover:active,.card-hover:hover{
   
.card-body{
 opacity: 0.2;

 transition: ease-out 0.1s;

}
.c-img{
    opacity: 0.2;
    transition: ease-in 0.5s;
}
 .btn{
    margin: 20px;
    z-index: 10;
   
    border: none;
    &#fav{
        background-color:rgb(8, 245, 8);
        border-radius: 20px;
        &:hover{
            background-color:rgb(4, 99, 4);
            
        }
    }
    &#playlist{
        background-color:rgb(93, 150, 236);
        border-radius: 20px;
        &:hover{
            background-color:rgb(0, 40, 100);
            
        }
    }
 }

}

@media only screen and (min-width:537px){
    .searchPage{
        .card{ font-family: 'Montserrat', sans-serif;
            width: '12rem';

        .card-body{
                .c-title{
                    font-weight: bolder;
                 }
            }
        }
        
    }
    
    
}

@media only screen and (max-width:536px) {
 .searchPage{
    .card{
        width: 9rem;
    }
 }  
}